$header-bg-color: #fff;
$shadow-color: rgba(0, 0, 0, 0.2);
$nav-active-color: #4fe0b6;

.header {
  background-color: $header-bg-color !important;
  box-shadow: none !important;
  width: 100%;
  z-index: 1000;
}

.input-search-header {
  margin: 0 40px !important;
  flex-grow: 1;
  background-color: #f0f0f0;
  border-radius: 40px;

  .MuiOutlinedInput-notchedOutline {
    border-radius: 40px; 
    border-color: grey; 
  }

  // &.Mui-focused .MuiOutlinedInput-notchedOutline {
  //   border-color: $nav-active-color !important; 
  // }

  // &:hover .MuiOutlinedInput-notchedOutline {
  //   border-color: $nav-active-color !important;
  // }

  input {
    padding: 10px;
  }
}
